.container {
    border-radius: 20px;
    width: fit-content;
    max-width: 200px;
    margin: 3% auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }